@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply bg-[#ECECEC] min-h-screen;
	}
	.table--head {
		@apply text-dark-purple-neko font-bold text-[0.77rem] py-[0.77rem] font-roboto;
		@apply sm:text-[0.77rem];
	}

	.table--body {
		@apply text-center text-[0.90rem] font-roboto font-bold pt-4;
		@apply lg:text-left;
	}
	.table--body:last-child {
		@apply pr-5;
	}

	.table--body__coin {
		@apply flex text-left text-[0.70rem] text-black-neko leading-5 min-w-[170px] relative;
		@apply lg:pl-0;
	}

	.table--body__border {
		@apply border-b-[24px] border-[transparent];
	}

	.table--body__line:last-child {
		@apply border-b-[24px] border-[transparent];
	}
	.search {
		@apply relative;
	}
	.search--box {
		@apply w-full mb-3 mt-3 p-3 pr-14;
	}
	.suggest--box {
		@apply h-60 sm:h-52  bg-light-gray-neko w-full z-10 overflow-scroll overflow-x-hidden absolute;
	}

	.table--fix {
		@apply sticky top-0 left-0;
	}
}
